<div>
  <h4>Lab Pane</h4>
</div>
<div  class="rooms-container">
  <div >
    <p class="subtitle">Create a lab</p>
    <form [formGroup]="createRoom" class="search-container">
      <mat-form-field appearance="fill">
        <mat-label>Room Name</mat-label>
        <input type="text" matInput formControlName="roomName" placeholder="Ex. My Room">
        <mat-error *ngIf="createRoom.get('roomName')?.hasError('required')">
          Please enter a valid room name
        </mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="onCreateRoom()">Create</button>
    </form>
  </div>
  <div class="rooms-container">
    <p class="subtitle">My Labs</p>
    <rooms-list class="rooms-container"></rooms-list>
  </div>
</div>
