
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CoLab-primary: mat.define-palette(mat.$indigo-palette);
$CoLab-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CoLab-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CoLab-theme: mat.define-light-theme((
  color: (
    primary: $CoLab-primary,
    accent: $CoLab-accent,
    warn: $CoLab-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CoLab-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: rgb(98, 3, 98);
  background-size: cover;
  overflow-x:hidden
}

.subtitle {
  font-family: 'Russo One', sans-serif;
  font-size: 1.15rem;
}

.horizontal-scroll {
  overflow-x: scroll;
  scroll-behavior: auto;
}

.flexit {
  &-column {
    display: flex;
    flex-direction: column;
  }
  
  &-row {
    display: flex;
    flex-direction: row;
  }
}

.content-center {
  justify-content: center;
  align-items: center;
}

main {

  & > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & .logo-container {
    img {
      width: 75%;
      padding-top: 7rem;
    }
  }
}

.start-container {
  margin: 5rem 10rem;
  width: 85vw;
  height: 55vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
}

.main-container {
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 3rem;

  h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
  }
}

.cool-typeface {
  font-family: 'Russo One', sans-serif !important;
}

top-bar {
  width: 100%;
}

.top-bar {
  h3 {
      font-size: 2rem;
      font-weight: 500;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popup-base {
  mat-dialog-container {
    border-radius: 3rem;
    padding: 3rem;
    overflow: hidden;

    >* {
      width: 75vw;
      height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  >*{
    margin: 0.5rem;
  }
}

mat-action-list {
  height: 100%;
  max-height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-list-item {
  width: 100%;
}

.delete-button {
  background-color: rgba(240, 4, 4, 0.58);
  color: white;
}

rooms-list {
  width: 100%;
}

mat-dialog-container {
  h3 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
}

.popup-last-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem;
  padding-right: 1.5rem;

  button {
    background-color: rgb(243, 174, 243);
  }
}